*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;list-style: none;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
}

img{
    border-radius: 50%;
    height: 45px;
    width:45px;
}
#content h2 img {
    position: relative;
    top: 12px;
    bottom: 0;
    
   
  
}
#content{
    background-image: linear-gradient(to top, rgb(63, 153, 189),#204E61)
}

    
  #content div h2{
      padding-bottom: 28px;
      font-size: 28px;
      font-family: 'Times New Roman';
      font-weight: lighter;
      letter-spacing: 4px;
  }  

header{
 
    display: flex;
    justify-content: center;
    background: url("bgimg.jpg") no-repeat center top;
    width: 100%;
    position: relative;
 
    background-size: cover;
    height: 680px;
   
   
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: 0.7;
  
    width: 100%;height: 100%;
}
#home{
    position: absolute;
    top: 260px;
}
#home h1 ,h5{
    color: rgb(253, 249, 249);
    font-size: 28px;
    font-family:Georgia;
    padding: 5px 25px;
    font-weight: lighter;
    letter-spacing: 5px;
    line-height: 40px;
}
#home h5{
font-size: 50px;
letter-spacing: 7px;
}
#home p{
    padding: 10px 45px;
    color: rgb(130, 226, 255);
    font-size: 20px;
    letter-spacing: 5px;
    font-size: 22px;
    font-style: italic;
}
ul{ 
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    margin:10px 0px 0px 0px;
    padding: 0%;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 10px;
}
li{
    padding:20px;
    height: 60px;
   
  

}
li a:hover{
    background-color: lavender;
    color: black;
   padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: ease 0.7s;

}
#About, #Profile, #skills ,#project ,#Experience{
    margin: 10px 20px;
    padding: 80px 20px;
    border: 0px solid black;
    height: auto;
}
#btn a{
    color: #28637B
    ;
    font-size: 22px;
}
#btn:hover{
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    background-color: rgb(83, 250, 125);
}
span #btn{
    background: rgb(255, 255, 255);
    width: 220px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: 0px solid rgb(0, 0, 0);
    margin: 5px 20px;
    display: block;

    
        
}

#About>h1{
    padding-top: 20px;
    margin-left:20px ;
    font-size: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 8px;
}
span{
    font-size: 15px;
    letter-spacing: 5px

}
#About h4{
    font-size: 20px;
    font-family:Georgia;
    padding: 10px 5px;
    font-weight: normal;
    margin-left: 20px;

}
#About >p{
    margin-left: 20px;
    font-size: 20px;
    word-spacing: 5px;
    padding-bottom: 10px;
    line-height: 30px;
    
}
#Profile>p{
    margin-left: 20px;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 35px
}
#Profile h4{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
}

#skills div {
display: inline-block;
padding: 20px 20px;
font-size: 20px;
text-align: center;

}

#skills div img{
   
    border-radius:20%;
    margin: 0;
    width: auto;
    height: 80px;
   

}
#skills>p{
    font-size: 20px;
    padding: 10px;
    word-spacing: 5px;
    line-height: 45px
}
#project h6{
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 5px;
}
#project> p{
    font-size: 20px;
    padding: 10px;
    word-spacing: 5px;
    line-height: 35px
}
#Experience p{
    font-size: 20px;
  
    padding-bottom: 150px;
    word-spacing: 5px;
    line-height: 35px
}

@media screen and  (min-width:768px){

    #icon{
        display: none;
    }
    .mobHeader{
        display: none;
    }
    
    span #btn{ 
        margin-left: 60%;
    
    }
}

@media screen and  (min-width:408px) and  (max-width:768px)  { 
#skills  {
  
    width: auto;
    height: 100%;
    }
 
    #skills div{
        margin: 2px 5px;
        width: 100px;
        height: 100px;
       font-size: 14px;
       font-family: Arial;
       font-weight: bolder;
       text-align: center;
        
    }
   

 
    ul{
        background-image: linear-gradient(to right, #142338, #223652);
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        height:600px;
        padding: 30px;
        margin-top: 50px;
       
    }
    li{
        
        width: 100%;
        display: flex;
        margin: 0px;
        padding: 10px;
        justify-content: center;
        
        
    }
 
   
    body .mobHeader{
        background-image:linear-gradient( to right, #142338, #223652);
        width: 100%;
        height: 50px;
        position: sticky;
        top:0;
        bottom: 0;
        z-index: 1;
        font-size: 28px;
        padding: 12px;
        letter-spacing: 2px;
        font-style: italic;


    }

    #icon{
        position:absolute;
        position: fixed;
        z-index: 1;
        top: 5px;
        right:10px;
    
        
    }
    #skills div img{
    border-radius:20%;
    margin: 0;
    width: 50px;
    height: 55px;
    padding-bottom: 5px;
    
   
    
    }

    #skills>p{
        font-size: 20px;
        padding: 10px;
        padding-top: 40px;
        word-spacing: 5px;
       
    }
  
    #Profile {
        height: 880px;
    }

    #project , #Experience{
        width: 93.5%;
        overflow: hidden;
        height: 100%;
        
    }
    #project , #Experience p{
        padding-top: 10px;
    }
    #project {
        padding-top: 75px;
    }

    #home h5  {
        font-size: 45px;
        padding-left: 38px;
    }
    span #btn{
        margin-left: 19%;
        margin-top: 10%;
    }
}
small{
    font-style: oblique;
    padding: 0px 5px;
    letter-spacing: 5px;
    font-size: 12px;
}